.elementor-323
  .elementor-element.elementor-element-18591290:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-323
  .elementor-element.elementor-element-18591290
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2023/03/petrochemical-storage-tank-with-oil-refinery-backg-2023-01-24-13-08-07-utc-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-323
  .elementor-element.elementor-element-18591290
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(
    16deg,
    var(--e-global-color-a9820b7) 20%,
    #1f1f2100 100%
  );
  opacity: 0.8;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-323 .elementor-element.elementor-element-18591290 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -9em;
  margin-bottom: 0em;
  padding: 13em 1em 6em 1em;
}
.elementor-323
  .elementor-element.elementor-element-5642aeb
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-323 .elementor-element.elementor-element-34ba1f69 {
  overflow: hidden;
  padding: 0% 30% 0% 0%;
}
.elementor-323
  .elementor-element.elementor-element-68c93dde
  > .elementor-element-populated {
  margin: 0em 0em 0em 0em;
  --e-column-margin-right: 0em;
  --e-column-margin-left: 0em;
  padding: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-23b9f3fb
  .elementor-heading-title,
.elementor-323 .elementor-element.elementor-element-23b9f3fb .hfe-page-title a {
  font-family: var(--e-global-typography-d3dae9a-font-family), Sans-serif;
  font-size: var(--e-global-typography-d3dae9a-font-size);
  font-weight: var(--e-global-typography-d3dae9a-font-weight);
  text-decoration: var(--e-global-typography-d3dae9a-text-decoration);
  line-height: var(--e-global-typography-d3dae9a-line-height);
  letter-spacing: var(--e-global-typography-d3dae9a-letter-spacing);
  word-spacing: var(--e-global-typography-d3dae9a-word-spacing);
  color: var(--e-global-color-a291686);
}
.elementor-323
  .elementor-element.elementor-element-23b9f3fb
  .hfe-page-title-icon
  i {
  color: var(--e-global-color-a291686);
}
.elementor-323
  .elementor-element.elementor-element-23b9f3fb
  .hfe-page-title-icon
  svg {
  fill: var(--e-global-color-a291686);
}
.elementor-323
  .elementor-element.elementor-element-f35b811
  .jeg-elementor-kit.jkit-post-date {
  text-align: left;
}
.elementor-323
  .elementor-element.elementor-element-f35b811
  .jeg-elementor-kit.jkit-post-date
  .post-date,
.elementor-323
  .elementor-element.elementor-element-f35b811
  .jeg-elementor-kit.jkit-post-date
  .post-date
  a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
  color: var(--e-global-color-accent);
}
.elementor-323
  .elementor-element.elementor-element-7f4bc83:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-323
  .elementor-element.elementor-element-7f4bc83
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-a291686);
}
.elementor-323 .elementor-element.elementor-element-7f4bc83 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 100px 30px 100px 30px;
}
.elementor-323
  .elementor-element.elementor-element-7f4bc83
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-323
  .elementor-element.elementor-element-e9e39d0:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-323
  .elementor-element.elementor-element-e9e39d0
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-a185853);
}
.elementor-323
  .elementor-element.elementor-element-e9e39d0
  > .elementor-element-populated,
.elementor-323
  .elementor-element.elementor-element-e9e39d0
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-323
  .elementor-element.elementor-element-e9e39d0
  > .elementor-background-slideshow {
  border-radius: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-e9e39d0
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-e9e39d0
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-323
  .elementor-element.elementor-element-8dbdca3
  .jeg-elementor-kit.jkit-post-featured-image {
  text-align: center;
}
.elementor-323
  .elementor-element.elementor-element-8dbdca3
  .jeg-elementor-kit.jkit-post-featured-image
  .post-featured-image
  img {
  border-radius: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-c53a782
  > .elementor-element-populated {
  padding: 0px 30px 30px 30px;
}
.elementor-323
  .elementor-element.elementor-element-9b6c080
  .jeg-elementor-kit.jkit-heading {
  text-align: left;
}
.elementor-323
  .elementor-element.elementor-element-9b6c080
  .jeg-elementor-kit.jkit-heading
  .heading-title {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  display: inline;
  font-family: var(--e-global-typography-83682a1-font-family), Sans-serif;
  font-size: var(--e-global-typography-83682a1-font-size);
  font-weight: var(--e-global-typography-83682a1-font-weight);
  text-decoration: var(--e-global-typography-83682a1-text-decoration);
  line-height: var(--e-global-typography-83682a1-line-height);
  letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
  word-spacing: var(--e-global-typography-83682a1-word-spacing);
  color: var(--e-global-color-308e809);
}
.elementor-323
  .elementor-element.elementor-element-9b6c080
  .jeg-elementor-kit.jkit-heading
  .heading-section-title {
  margin: 0px 0px 14px 0px;
}
.elementor-323
  .elementor-element.elementor-element-9b6c080
  .jeg-elementor-kit.jkit-heading
  .heading-section-title
  .heading-title {
  padding: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-9b6c080
  .jeg-elementor-kit.jkit-heading
  .heading-title
  > span {
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
  line-height: var(--e-global-typography-secondary-line-height);
  text-decoration-color: var(--e-global-color-accent);
  padding: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-9b6c080
  .jeg-elementor-kit.jkit-heading
  .heading-section-description {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
  margin: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-9b6c080
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-6806f06
  .jeg-elementor-kit.jkit-heading {
  text-align: left;
}
.elementor-323
  .elementor-element.elementor-element-6806f06
  .jeg-elementor-kit.jkit-heading
  .heading-title {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  display: inline;
  font-family: var(--e-global-typography-83682a1-font-family), Sans-serif;
  font-size: var(--e-global-typography-83682a1-font-size);
  font-weight: var(--e-global-typography-83682a1-font-weight);
  text-decoration: var(--e-global-typography-83682a1-text-decoration);
  line-height: var(--e-global-typography-83682a1-line-height);
  letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
  word-spacing: var(--e-global-typography-83682a1-word-spacing);
  color: var(--e-global-color-308e809);
}
.elementor-323
  .elementor-element.elementor-element-6806f06
  .jeg-elementor-kit.jkit-heading
  .heading-section-title {
  margin: 0px 0px 14px 0px;
}
.elementor-323
  .elementor-element.elementor-element-6806f06
  .jeg-elementor-kit.jkit-heading
  .heading-section-title
  .heading-title {
  padding: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-6806f06
  .jeg-elementor-kit.jkit-heading
  .heading-title
  > span {
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
  line-height: var(--e-global-typography-secondary-line-height);
  text-decoration-color: var(--e-global-color-accent);
  padding: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-6806f06
  .jeg-elementor-kit.jkit-heading
  .heading-section-description {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
  margin: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-6806f06
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-2157a7a
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(15px / 2);
}
.elementor-323
  .elementor-element.elementor-element-2157a7a
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(15px / 2);
}
.elementor-323
  .elementor-element.elementor-element-2157a7a
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(15px / 2);
  margin-left: calc(15px / 2);
}
.elementor-323
  .elementor-element.elementor-element-2157a7a
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-15px / 2);
  margin-left: calc(-15px / 2);
}
body.rtl
  .elementor-323
  .elementor-element.elementor-element-2157a7a
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-15px / 2);
}
body:not(.rtl)
  .elementor-323
  .elementor-element.elementor-element-2157a7a
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-15px / 2);
}
.elementor-323
  .elementor-element.elementor-element-2157a7a
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-accent);
}
.elementor-323
  .elementor-element.elementor-element-2157a7a
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-323 .elementor-element.elementor-element-2157a7a {
  --e-icon-list-icon-size: 11px;
  width: var(--container-widget-width, 50%);
  max-width: 50%;
  --container-widget-width: 50%;
  --container-widget-flex-grow: 0;
}
.elementor-323
  .elementor-element.elementor-element-2157a7a
  .elementor-icon-list-text {
  color: var(--e-global-color-primary);
  padding-left: 7px;
}
.elementor-323
  .elementor-element.elementor-element-2157a7a
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-primary);
}
.elementor-323
  .elementor-element.elementor-element-2157a7a
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-323
  .elementor-element.elementor-element-2157a7a
  .elementor-icon-list-item
  > a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-323
  .elementor-element.elementor-element-2157a7a
  > .elementor-widget-container {
  margin: 10px 30px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-115f94b
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(15px / 2);
}
.elementor-323
  .elementor-element.elementor-element-115f94b
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(15px / 2);
}
.elementor-323
  .elementor-element.elementor-element-115f94b
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(15px / 2);
  margin-left: calc(15px / 2);
}
.elementor-323
  .elementor-element.elementor-element-115f94b
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-15px / 2);
  margin-left: calc(-15px / 2);
}
body.rtl
  .elementor-323
  .elementor-element.elementor-element-115f94b
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-15px / 2);
}
body:not(.rtl)
  .elementor-323
  .elementor-element.elementor-element-115f94b
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-15px / 2);
}
.elementor-323
  .elementor-element.elementor-element-115f94b
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-accent);
}
.elementor-323
  .elementor-element.elementor-element-115f94b
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-323 .elementor-element.elementor-element-115f94b {
  --e-icon-list-icon-size: 11px;
  width: var(--container-widget-width, 50%);
  max-width: 50%;
  --container-widget-width: 50%;
  --container-widget-flex-grow: 0;
}
.elementor-323
  .elementor-element.elementor-element-115f94b
  .elementor-icon-list-text {
  color: var(--e-global-color-primary);
  padding-left: 7px;
}
.elementor-323
  .elementor-element.elementor-element-115f94b
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-primary);
}
.elementor-323
  .elementor-element.elementor-element-115f94b
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-323
  .elementor-element.elementor-element-115f94b
  .elementor-icon-list-item
  > a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-323
  .elementor-element.elementor-element-115f94b
  > .elementor-widget-container {
  margin: 10px 30px 0px 0px;
}
.elementor-323 .elementor-element.elementor-element-af73dd3 .gallery-item {
  padding: 0 20px 20px 0;
}
.elementor-323 .elementor-element.elementor-element-af73dd3 .gallery {
  margin: 0 -20px -20px 0;
}
.elementor-323 .elementor-element.elementor-element-af73dd3 .gallery-item img {
  border-radius: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-af73dd3
  .gallery-item
  .gallery-caption {
  text-align: center;
}
.elementor-323
  .elementor-element.elementor-element-af73dd3
  > .elementor-widget-container {
  margin: 30px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-aa90502
  .jeg-elementor-kit.jkit-heading {
  text-align: left;
}
.elementor-323
  .elementor-element.elementor-element-aa90502
  .jeg-elementor-kit.jkit-heading
  .heading-title {
  font-family: var(--e-global-typography-83682a1-font-family), Sans-serif;
  font-size: var(--e-global-typography-83682a1-font-size);
  font-weight: var(--e-global-typography-83682a1-font-weight);
  text-decoration: var(--e-global-typography-83682a1-text-decoration);
  line-height: var(--e-global-typography-83682a1-line-height);
  letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
  word-spacing: var(--e-global-typography-83682a1-word-spacing);
  color: var(--e-global-color-308e809);
}
.elementor-323
  .elementor-element.elementor-element-aa90502
  .jeg-elementor-kit.jkit-heading
  .heading-section-title {
  margin: 0px 0px -10px 0px;
}
.elementor-323
  .elementor-element.elementor-element-aa90502
  .jeg-elementor-kit.jkit-heading
  .heading-section-title
  .heading-title {
  padding: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-aa90502
  .jeg-elementor-kit.jkit-heading
  .heading-title
  > span {
  color: var(--e-global-color-secondary);
}
.elementor-323
  .elementor-element.elementor-element-aa90502
  .jeg-elementor-kit.jkit-heading
  .heading-section-subtitle {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  text-decoration: var(--e-global-typography-accent-text-decoration);
  line-height: var(--e-global-typography-accent-line-height);
  letter-spacing: var(--e-global-typography-accent-letter-spacing);
  margin: 0px 0px 8px 0px;
}
.elementor-323
  .elementor-element.elementor-element-aa90502
  .jeg-elementor-kit.jkit-heading
  .heading-section-description {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
  margin: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-aa90502
  > .elementor-widget-container {
  margin: 0px 15px 0px 0px;
}
.elementor-323 .elementor-element.elementor-element-aa90502 {
  width: var(--container-widget-width, 50%);
  max-width: 50%;
  --container-widget-width: 50%;
  --container-widget-flex-grow: 0;
}
.elementor-323
  .elementor-element.elementor-element-24db864
  .jeg-elementor-kit.jkit-heading {
  text-align: left;
}
.elementor-323
  .elementor-element.elementor-element-24db864
  .jeg-elementor-kit.jkit-heading
  .heading-title {
  font-family: var(--e-global-typography-83682a1-font-family), Sans-serif;
  font-size: var(--e-global-typography-83682a1-font-size);
  font-weight: var(--e-global-typography-83682a1-font-weight);
  text-decoration: var(--e-global-typography-83682a1-text-decoration);
  line-height: var(--e-global-typography-83682a1-line-height);
  letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
  word-spacing: var(--e-global-typography-83682a1-word-spacing);
  color: var(--e-global-color-308e809);
}
.elementor-323
  .elementor-element.elementor-element-24db864
  .jeg-elementor-kit.jkit-heading
  .heading-section-title {
  margin: 0px 0px -10px 0px;
}
.elementor-323
  .elementor-element.elementor-element-24db864
  .jeg-elementor-kit.jkit-heading
  .heading-section-title
  .heading-title {
  padding: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-24db864
  .jeg-elementor-kit.jkit-heading
  .heading-title
  > span {
  color: var(--e-global-color-secondary);
}
.elementor-323
  .elementor-element.elementor-element-24db864
  .jeg-elementor-kit.jkit-heading
  .heading-section-subtitle {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  text-decoration: var(--e-global-typography-accent-text-decoration);
  line-height: var(--e-global-typography-accent-line-height);
  letter-spacing: var(--e-global-typography-accent-letter-spacing);
  margin: 0px 0px 8px 0px;
}
.elementor-323
  .elementor-element.elementor-element-24db864
  .jeg-elementor-kit.jkit-heading
  .heading-section-description {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
  margin: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-24db864
  > .elementor-widget-container {
  margin: 0px 15px 0px 0px;
}
.elementor-323 .elementor-element.elementor-element-24db864 {
  width: var(--container-widget-width, 50%);
  max-width: 50%;
  --container-widget-width: 50%;
  --container-widget-flex-grow: 0;
}
.elementor-323
  .elementor-element.elementor-element-3d20bf6
  .jeg-elementor-kit.jkit-heading {
  text-align: left;
}
.elementor-323
  .elementor-element.elementor-element-3d20bf6
  .jeg-elementor-kit.jkit-heading
  .heading-title {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  display: inline;
  font-family: var(--e-global-typography-83682a1-font-family), Sans-serif;
  font-size: var(--e-global-typography-83682a1-font-size);
  font-weight: var(--e-global-typography-83682a1-font-weight);
  text-decoration: var(--e-global-typography-83682a1-text-decoration);
  line-height: var(--e-global-typography-83682a1-line-height);
  letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
  word-spacing: var(--e-global-typography-83682a1-word-spacing);
  color: var(--e-global-color-308e809);
}
.elementor-323
  .elementor-element.elementor-element-3d20bf6
  .jeg-elementor-kit.jkit-heading
  .heading-section-title {
  margin: 0px 0px 14px 0px;
}
.elementor-323
  .elementor-element.elementor-element-3d20bf6
  .jeg-elementor-kit.jkit-heading
  .heading-section-title
  .heading-title {
  padding: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-3d20bf6
  .jeg-elementor-kit.jkit-heading
  .heading-title
  > span {
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
  line-height: var(--e-global-typography-secondary-line-height);
  text-decoration-color: var(--e-global-color-accent);
  padding: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-3d20bf6
  .jeg-elementor-kit.jkit-heading
  .heading-section-description {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
  margin: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-3d20bf6
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-323
  .elementor-element.elementor-element-55fb98e.elementor-column
  .elementor-widget-wrap {
  align-items: flex-start;
}
.elementor-323
  .elementor-element.elementor-element-55fb98e.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-323
  .elementor-element.elementor-element-55fb98e
  > .elementor-element-populated
  > .elementor-background-overlay {
  opacity: 0.5;
}
.elementor-323
  .elementor-element.elementor-element-55fb98e
  > .elementor-element-populated {
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 30px;
}
.elementor-323
  .elementor-element.elementor-element-55fb98e
  > .elementor-element-populated,
.elementor-323
  .elementor-element.elementor-element-55fb98e
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-323
  .elementor-element.elementor-element-55fb98e
  > .elementor-background-slideshow {
  border-radius: 3px 3px 3px 3px;
}
.elementor-323
  .elementor-element.elementor-element-55fb98e
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-323
  .elementor-element.elementor-element-ce22c30
  .elementor-heading-title {
  color: var(--e-global-color-308e809);
  font-family: var(--e-global-typography-83682a1-font-family), Sans-serif;
  font-size: var(--e-global-typography-83682a1-font-size);
  font-weight: var(--e-global-typography-83682a1-font-weight);
  text-decoration: var(--e-global-typography-83682a1-text-decoration);
  line-height: var(--e-global-typography-83682a1-line-height);
  letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
  word-spacing: var(--e-global-typography-83682a1-word-spacing);
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-posts {
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-column-gap: 39px;
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-post {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-thumb {
  margin: 0px 15px 30px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock.postblock-type-1
  .jkit-thumb {
  flex: 0 0 30%;
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock.postblock-type-4
  .jkit-thumb {
  flex: 0 0 30%;
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-thumb
  .thumbnail-container {
  height: 100px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-postblock-content {
  text-align: left;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-post-title {
  margin: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock.postblock-type-4
  .jkit-post-title {
  margin: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-post-title
  a,
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock.postblock-type-4
  .jkit-post-title
  a {
  font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
  font-size: var(--e-global-typography-520c191-font-size);
  font-weight: var(--e-global-typography-520c191-font-weight);
  text-decoration: var(--e-global-typography-520c191-text-decoration);
  line-height: var(--e-global-typography-520c191-line-height);
  letter-spacing: var(--e-global-typography-520c191-letter-spacing);
  word-spacing: var(--e-global-typography-520c191-word-spacing);
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-post-title
  a {
  color: var(--e-global-color-308e809);
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-post-title
  a:hover,
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock.postblock-type-4
  .jkit-post-title
  a:hover {
  font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
  font-size: var(--e-global-typography-520c191-font-size);
  font-weight: var(--e-global-typography-520c191-font-weight);
  text-decoration: var(--e-global-typography-520c191-text-decoration);
  line-height: var(--e-global-typography-520c191-line-height);
  letter-spacing: var(--e-global-typography-520c191-letter-spacing);
  word-spacing: var(--e-global-typography-520c191-word-spacing);
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-post-title
  a:hover {
  color: var(--e-global-color-accent);
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-post-meta {
  font-family: var(--e-global-typography-69c152f-font-family), Sans-serif;
  font-size: var(--e-global-typography-69c152f-font-size);
  text-decoration: var(--e-global-typography-69c152f-text-decoration);
  line-height: var(--e-global-typography-69c152f-line-height);
  letter-spacing: var(--e-global-typography-69c152f-letter-spacing);
  word-spacing: var(--e-global-typography-69c152f-word-spacing);
  color: var(--e-global-color-accent);
  margin: 0px 0px 0px 0px;
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-post-meta
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-meta-author.icon-position-before
  i,
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-meta-author.icon-position-before
  svg {
  margin-right: 5px;
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-meta-author.icon-position-after
  i,
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-meta-author.icon-position-after
  svg {
  margin-left: 5px;
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-meta-date.icon-position-before
  i,
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-meta-date.icon-position-before
  svg {
  margin-right: 5px;
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-meta-date.icon-position-after
  i,
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-meta-date.icon-position-after
  svg {
  margin-left: 5px;
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jkit-post-meta-bottom {
  justify-content: space-between;
}
.elementor-323
  .elementor-element.elementor-element-9dec880
  .jeg-elementor-kit.jkit-postblock
  .jeg_empty_module {
  text-align: left;
}
:root {
  --page-title-display: none;
}
@media (min-width: 768px) {
  .elementor-323 .elementor-element.elementor-element-e9e39d0 {
    width: 64.417%;
  }
  .elementor-323 .elementor-element.elementor-element-55fb98e {
    width: 35.543%;
  }
}
@media (max-width: 1024px) {
  .elementor-323 .elementor-element.elementor-element-18591290 {
    margin-top: -10em;
    margin-bottom: 0em;
    padding: 12em 1em 5em 1em;
  }
  .elementor-323 .elementor-element.elementor-element-34ba1f69 {
    padding: 0% 0% 0% 0%;
  }
  .elementor-323
    .elementor-element.elementor-element-23b9f3fb
    .hfe-page-title-wrapper {
    text-align: center;
  }
  .elementor-323
    .elementor-element.elementor-element-23b9f3fb
    .elementor-heading-title,
  .elementor-323
    .elementor-element.elementor-element-23b9f3fb
    .hfe-page-title
    a {
    font-size: var(--e-global-typography-d3dae9a-font-size);
    line-height: var(--e-global-typography-d3dae9a-line-height);
    letter-spacing: var(--e-global-typography-d3dae9a-letter-spacing);
    word-spacing: var(--e-global-typography-d3dae9a-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-f35b811
    .jeg-elementor-kit.jkit-post-date
    .post-date,
  .elementor-323
    .elementor-element.elementor-element-f35b811
    .jeg-elementor-kit.jkit-post-date
    .post-date
    a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-323 .elementor-element.elementor-element-7f4bc83 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 60px 30px 60px 30px;
  }
  .elementor-323
    .elementor-element.elementor-element-e9e39d0
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-323
    .elementor-element.elementor-element-9b6c080
    .jeg-elementor-kit.jkit-heading
    .heading-title {
    font-size: var(--e-global-typography-83682a1-font-size);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-9b6c080
    .jeg-elementor-kit.jkit-heading
    .heading-title
    > span {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }
  .elementor-323
    .elementor-element.elementor-element-9b6c080
    .jeg-elementor-kit.jkit-heading
    .heading-section-description {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-323
    .elementor-element.elementor-element-9b6c080
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-323
    .elementor-element.elementor-element-6806f06
    .jeg-elementor-kit.jkit-heading
    .heading-title {
    font-size: var(--e-global-typography-83682a1-font-size);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-6806f06
    .jeg-elementor-kit.jkit-heading
    .heading-title
    > span {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }
  .elementor-323
    .elementor-element.elementor-element-6806f06
    .jeg-elementor-kit.jkit-heading
    .heading-section-description {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-323
    .elementor-element.elementor-element-6806f06
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-323
    .elementor-element.elementor-element-2157a7a
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-323
    .elementor-element.elementor-element-2157a7a
    .elementor-icon-list-item
    > a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-323
    .elementor-element.elementor-element-115f94b
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-323
    .elementor-element.elementor-element-115f94b
    .elementor-icon-list-item
    > a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-323
    .elementor-element.elementor-element-aa90502
    .jeg-elementor-kit.jkit-heading
    .heading-title {
    font-size: var(--e-global-typography-83682a1-font-size);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-aa90502
    .jeg-elementor-kit.jkit-heading
    .heading-section-subtitle {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-aa90502
    .jeg-elementor-kit.jkit-heading
    .heading-section-description {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-323
    .elementor-element.elementor-element-24db864
    .jeg-elementor-kit.jkit-heading
    .heading-title {
    font-size: var(--e-global-typography-83682a1-font-size);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-24db864
    .jeg-elementor-kit.jkit-heading
    .heading-section-subtitle {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-24db864
    .jeg-elementor-kit.jkit-heading
    .heading-section-description {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-323
    .elementor-element.elementor-element-3d20bf6
    .jeg-elementor-kit.jkit-heading
    .heading-title {
    font-size: var(--e-global-typography-83682a1-font-size);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-3d20bf6
    .jeg-elementor-kit.jkit-heading
    .heading-title
    > span {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }
  .elementor-323
    .elementor-element.elementor-element-3d20bf6
    .jeg-elementor-kit.jkit-heading
    .heading-section-description {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-323
    .elementor-element.elementor-element-3d20bf6
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-323
    .elementor-element.elementor-element-55fb98e
    > .elementor-element-populated {
    border-width: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-323
    .elementor-element.elementor-element-ce22c30
    .elementor-heading-title {
    font-size: var(--e-global-typography-83682a1-font-size);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock
    .jkit-posts {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 15px;
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock.postblock-type-1
    .jkit-thumb {
    flex: 0 0 100%;
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock.postblock-type-4
    .jkit-thumb {
    flex: 0 0 100%;
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock
    .jkit-thumb
    .thumbnail-container {
    height: 250px;
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock
    .jkit-post-title {
    margin: 0px 0px 5px 0px;
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock.postblock-type-4
    .jkit-post-title {
    margin: 0px 0px 5px 0px;
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock
    .jkit-post-title
    a,
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock.postblock-type-4
    .jkit-post-title
    a {
    font-size: var(--e-global-typography-520c191-font-size);
    line-height: var(--e-global-typography-520c191-line-height);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock
    .jkit-post-title
    a:hover,
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock.postblock-type-4
    .jkit-post-title
    a:hover {
    font-size: var(--e-global-typography-520c191-font-size);
    line-height: var(--e-global-typography-520c191-line-height);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock
    .jkit-post-meta {
    font-size: var(--e-global-typography-69c152f-font-size);
    line-height: var(--e-global-typography-69c152f-line-height);
    letter-spacing: var(--e-global-typography-69c152f-letter-spacing);
    word-spacing: var(--e-global-typography-69c152f-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-323
    .elementor-element.elementor-element-18591290
    > .elementor-background-overlay {
    opacity: 1;
  }
  .elementor-323 .elementor-element.elementor-element-18591290 {
    margin-top: -12em;
    margin-bottom: 0em;
    padding: 12em 0.5em 1em 0.5em;
  }
  .elementor-323
    .elementor-element.elementor-element-5642aeb
    > .elementor-element-populated {
    padding: 15px 15px 15px 15px;
  }
  .elementor-323 .elementor-element.elementor-element-34ba1f69 {
    padding: 20px 20px 20px 20px;
  }
  .elementor-323
    .elementor-element.elementor-element-23b9f3fb
    .hfe-page-title-wrapper {
    text-align: center;
  }
  .elementor-323
    .elementor-element.elementor-element-23b9f3fb
    .elementor-heading-title,
  .elementor-323
    .elementor-element.elementor-element-23b9f3fb
    .hfe-page-title
    a {
    font-size: var(--e-global-typography-d3dae9a-font-size);
    line-height: var(--e-global-typography-d3dae9a-line-height);
    letter-spacing: var(--e-global-typography-d3dae9a-letter-spacing);
    word-spacing: var(--e-global-typography-d3dae9a-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-f35b811
    .jeg-elementor-kit.jkit-post-date
    .post-date,
  .elementor-323
    .elementor-element.elementor-element-f35b811
    .jeg-elementor-kit.jkit-post-date
    .post-date
    a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-323 .elementor-element.elementor-element-7f4bc83 {
    padding: 50px 20px 50px 20px;
  }
  .elementor-323
    .elementor-element.elementor-element-c53a782
    > .elementor-element-populated {
    padding: 0px 18px 18px 18px;
  }
  .elementor-323
    .elementor-element.elementor-element-9b6c080
    .jeg-elementor-kit.jkit-heading
    .heading-title {
    font-size: var(--e-global-typography-83682a1-font-size);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-9b6c080
    .jeg-elementor-kit.jkit-heading
    .heading-title
    > span {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }
  .elementor-323
    .elementor-element.elementor-element-9b6c080
    .jeg-elementor-kit.jkit-heading
    .heading-section-description {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-323
    .elementor-element.elementor-element-6806f06
    .jeg-elementor-kit.jkit-heading
    .heading-title {
    font-size: var(--e-global-typography-83682a1-font-size);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-6806f06
    .jeg-elementor-kit.jkit-heading
    .heading-title
    > span {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }
  .elementor-323
    .elementor-element.elementor-element-6806f06
    .jeg-elementor-kit.jkit-heading
    .heading-section-description {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-323
    .elementor-element.elementor-element-2157a7a
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(12px / 2);
  }
  .elementor-323
    .elementor-element.elementor-element-2157a7a
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(12px / 2);
  }
  .elementor-323
    .elementor-element.elementor-element-2157a7a
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(12px / 2);
    margin-left: calc(12px / 2);
  }
  .elementor-323
    .elementor-element.elementor-element-2157a7a
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-12px / 2);
    margin-left: calc(-12px / 2);
  }
  body.rtl
    .elementor-323
    .elementor-element.elementor-element-2157a7a
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-12px / 2);
  }
  body:not(.rtl)
    .elementor-323
    .elementor-element.elementor-element-2157a7a
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-12px / 2);
  }
  .elementor-323
    .elementor-element.elementor-element-2157a7a
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-323
    .elementor-element.elementor-element-2157a7a
    .elementor-icon-list-item
    > a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-323 .elementor-element.elementor-element-2157a7a {
    width: 100%;
    max-width: 100%;
  }
  .elementor-323
    .elementor-element.elementor-element-115f94b
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(12px / 2);
  }
  .elementor-323
    .elementor-element.elementor-element-115f94b
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(12px / 2);
  }
  .elementor-323
    .elementor-element.elementor-element-115f94b
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(12px / 2);
    margin-left: calc(12px / 2);
  }
  .elementor-323
    .elementor-element.elementor-element-115f94b
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-12px / 2);
    margin-left: calc(-12px / 2);
  }
  body.rtl
    .elementor-323
    .elementor-element.elementor-element-115f94b
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-12px / 2);
  }
  body:not(.rtl)
    .elementor-323
    .elementor-element.elementor-element-115f94b
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-12px / 2);
  }
  .elementor-323
    .elementor-element.elementor-element-115f94b
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-323
    .elementor-element.elementor-element-115f94b
    .elementor-icon-list-item
    > a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-323 .elementor-element.elementor-element-115f94b {
    width: 100%;
    max-width: 100%;
  }
  .elementor-323
    .elementor-element.elementor-element-aa90502
    .jeg-elementor-kit.jkit-heading
    .heading-title {
    font-size: var(--e-global-typography-83682a1-font-size);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-aa90502
    .jeg-elementor-kit.jkit-heading
    .heading-section-subtitle {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-aa90502
    .jeg-elementor-kit.jkit-heading
    .heading-section-description {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-323
    .elementor-element.elementor-element-24db864
    .jeg-elementor-kit.jkit-heading
    .heading-title {
    font-size: var(--e-global-typography-83682a1-font-size);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-24db864
    .jeg-elementor-kit.jkit-heading
    .heading-section-subtitle {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-24db864
    .jeg-elementor-kit.jkit-heading
    .heading-section-description {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-323
    .elementor-element.elementor-element-3d20bf6
    .jeg-elementor-kit.jkit-heading
    .heading-title {
    font-size: var(--e-global-typography-83682a1-font-size);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-3d20bf6
    .jeg-elementor-kit.jkit-heading
    .heading-title
    > span {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }
  .elementor-323
    .elementor-element.elementor-element-3d20bf6
    .jeg-elementor-kit.jkit-heading
    .heading-section-description {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-323
    .elementor-element.elementor-element-55fb98e
    > .elementor-element-populated {
    margin: 20px 0px 20px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-323
    .elementor-element.elementor-element-ce22c30
    .elementor-heading-title {
    font-size: var(--e-global-typography-83682a1-font-size);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock
    .jkit-posts {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock
    .jkit-thumb {
    margin: 0px 0px 0px 0px;
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock
    .jkit-thumb
    .thumbnail-container {
    height: 240px;
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock
    .jkit-postblock-content {
    margin: 0px 0px 0px 0px;
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock
    .jkit-post-title {
    margin: 5px 0px 0px 0px;
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock.postblock-type-4
    .jkit-post-title {
    margin: 5px 0px 0px 0px;
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock
    .jkit-post-title
    a,
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock.postblock-type-4
    .jkit-post-title
    a {
    font-size: var(--e-global-typography-520c191-font-size);
    line-height: var(--e-global-typography-520c191-line-height);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock
    .jkit-post-title
    a:hover,
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock.postblock-type-4
    .jkit-post-title
    a:hover {
    font-size: var(--e-global-typography-520c191-font-size);
    line-height: var(--e-global-typography-520c191-line-height);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock
    .jkit-post-meta {
    font-size: var(--e-global-typography-69c152f-font-size);
    line-height: var(--e-global-typography-69c152f-line-height);
    letter-spacing: var(--e-global-typography-69c152f-letter-spacing);
    word-spacing: var(--e-global-typography-69c152f-word-spacing);
  }
  .elementor-323
    .elementor-element.elementor-element-9dec880
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-323 .elementor-element.elementor-element-68c93dde {
    width: 100%;
  }
  .elementor-323 .elementor-element.elementor-element-e9e39d0 {
    width: 100%;
  }
  .elementor-323 .elementor-element.elementor-element-55fb98e {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock.postblock-type-1
    .jkit-post {
    display: block;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}
@media (max-width: 1024px) {
  .elementor-element.elementor-element-9dec880
    .jeg-elementor-kit.jkit-postblock.postblock-type-1
    .jkit-thumb {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    max-width: 100%;
  }
}
